.container{
    width: 100%;
    height: 100vh;
    background-color: #97b4ec;
   
}
.weather{
    width: 380px;
    height: 600px;
    padding: 40px;
    border-radius: 10px;
    margin: auto;
    padding-top: 40px;
    background: rgb(45, 113, 153);
    text-align: center;
    color: white;
    justify-content: center;
}
.search{
display: flex;
align-items: center;
justify-content: space-between;

}
.search input{
    border: none;
    outline: 0;
    padding: 12px 25px;
    font-size: 18px;
    background-color: white;
    color: black;
    border-radius: 30px;
    flex: 1;
    margin-right: 12px;
}
.search button {
    border: none;
    outline:0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.search button img{
    width: 20px;
}
.winfo .icon{
    margin-top: 20px;
    width: 170px;
    
}
.winfo h1{
    font-size: 70px;
    font-weight: 500;
    margin-top: 5px;

}
.winfo h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -40px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}
.details .col{
    display: flex;
    align-items: center;
    text-align: left;
}
.details .col img{
    width: 45px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 27px;
}
.humidity p, .wind p{
    margin: 0px;
}
.error{
    color: rgb(240, 137, 137);
    text-align: left;
    margin-right: 10px;
}